<div class="container mt-4">
<p>
    Hola a todos de parte de <b>Ravens Hill House</b> :).
</p>
<p>
    Somo vecinos para unos, desconocidos para otros y un poco locos para todos. 
</p>
<p>
    Nos encanta ver como todos los años pasáis a ver nuestra decoración de Halloween y nos encanta aún más ver que incluso tenemos fieles seguidores.
</p>
<p>
    Siempre que alguien se acerca intentamos tenerlo todo a punto para que podáis apreciar todos los detalles, pero nos hemos dado cuenta
    de que en algunas ocasiones os quedáis sin ver las animaciones que hemos incorporado porque no coinciden con el momento de vuestra visita.
</p>
<p>
    Por eso este año hemos habilitado esta pequeña aplicación para que podáis interactuar con algunos monstruos. Así no os dejaréis ningún detalle 
    escalofriante por descubrir. Por el momento podréis pedir, siempre amablemente que sino se enfadan, a los siguientes monstruos que inicien su labor:
</p>
<ul>
    <li>La bruja que remueve el caldero</li>
    <li>La tormenta</li>
    <li>Sonidos escalofriantes</li>
</ul>
<p>
    Tened en cuenta que los monstruos tienen que descansar y no pueden estar asustando de continuo, tienen sindicatos muy estrictos que nos obligan a darles
    unos segundos de reposo entre susto y susto. Siempre que el botón <b>"Activar"</b> este operativo podréis pedirle al mostruo que se mueva, de otra forma no os hará 
    ningún caso... son muy suyos.
</p>
</div>
