<app-navbar></app-navbar>
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Contacta con nosotros en redes sociales:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://www.facebook.com/profile.php?id=100083168473200" class="me-4 text-reset">
          <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
        </a>
        <a href="https://instagram.com/ravenshillhouse" class="me-4 text-reset">
          <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
</footer>